body
{
    background-color: black;
    font-family:'Times New Roman', Times, serif;
    line-height: 1.25;
}

table
{
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0;
    padding: 10px;
    width: 82%;
    color: white;
}

table caption
{
    font-size: 1.5em;
    margin: .5em 0 .75em;
    color: white;
}

table tr
{
    background-color: black;
    border: 1px solid #ddd;
    padding: 1px;
    color: white;
}

table th,
table td
{
    padding: .625em;
    text-align: center;
    color: white;
}

table th
{
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: white;
}

.accept
{
    width: 290px;
    background-color: #04aa6d;
    padding: 8px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    transition: background-color 0.4s;
    border-radius: 5px;
}
.reject
{
    width: 290px;
    background-color: #ff0000;
    padding: 8px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    transition: background-color 0.4s;
    border-radius: 5px;
}

#info
{
    width: 290px;
    background-color: cornflowerblue;
    padding: 8px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    transition: background-color 0.4s;
    border-radius: 5px;
}

#info2
{
    width: 290px;
    background-color: cornflowerblue;
    padding: 8px;
    border: none;
    font-size: 16px;
    margin-left: 550px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    transition: background-color 0.4s;
    border-radius: 5px;
}