* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
}

#info
{
    color: darkblue;
}

#denger
{
    color: red;
}

#success
{
    color: green;
}

#table
{
    margin: 0%;
    padding-left: 40px;
}

.bodyimage {
    background-image: linear-gradient(to left bottom,
            #ffffff, #d2c8ff, #a691fd, #7659f6, #3512eb);
}

form {
    width: 430px;
    background-color: white;
    padding: 30px 70px;
    margin-top: 170px;
    margin-left: 34%;
    box-shadow: 0px 5px 10px black;
}

.h2, .h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 15px;
}

p {
    text-align: center;
    padding-bottom: 2px;
}

input[type=text],
input[type=email],
input[type=password] {
    background-color: #f2f4f6;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    width: 290px;
    padding-left: 15px;
    box-sizing: border-box;
}

.inputbutton {
    width: 100px;
    background-color: #04AA6D;
    padding: 8px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
    transition: background-color 0.4s;
}

.inputbutton:hover {
    opacity: 0.8;
}

.inputrequestreturn
{
    width: 110px;
    background-color:steelblue;
    padding: 8px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
    transition: background-color 0.4s;
}

.inputrequestreturn:hover
{
    opacity: 0.8;
    background-color: green;
}

.otpbtn
{
    width: 110px;
    background-color: steelblue;
    padding: 8px;
    margin-left: 80px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
    transition: background-color 0.4s;
}